.common-btn {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344054;
  padding: 4px 12px;
  border: 1px solid #344054;
  border-radius: 8px;
}
